@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FBFEFD;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER and NAV */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FBFEFD;

}

.scroll-header {
    box-shadow: 0 2px 4px #069c5348;
}

.nav {
    max-width: 1024px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.nav_toggle {
    display: none;
}

.bar {
    display: block;
    width: 1.563rem;
    height: .188rem;
    margin: 5px auto;
    background-color: #707070;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item {
    margin-left: 3rem;
}

.nav_link {
    font-size: 1rem;
    font-weight: 500;
    color: #999;
}

.nav_link:hover {
    color: #00754a;
}

.nav_logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: #00754a;
}

.nav_logo:hover {
    color: #000;
}

.active_link {
    color: #00754a;
    border-bottom: 2px solid #00754a;
}

/* MAIN and CONTAINER*/
.main {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 5.5rem 1rem 2rem;
}

/* HOME */
.home_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_title {
    font-size: 4rem;
    color: #00754a;
    margin-bottom: .5rem;
}

.home_subtitle {
    font-size: 2.25rem;
    color: #393939;
    margin-bottom: 2rem;
}

.home_button {
    background-color: #00754a;
    color: #FFF;
    padding: .75rem;
    border-radius: .5rem;
}

.home_img {
    width: 350px;
}

/* TITLE and SUBTITLE */
.title {
    font-size: 2.25rem;
    color: #393939;
    margin-bottom: 1.5rem;
    text-align: center;
}

.subtitle {
    display: block;
    color: #00754a;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

/* POPULAR */
.popular_container {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.popular_content {
    width: 15rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #069c5348;
    padding: 1.5rem;
    text-align: center;
}

.popular_img {
    width: 100px;
    margin-bottom: .5rem;
}

.popular_price {
    margin: .6rem;
}

.popular_button {
    background-color: #00754a;
    color: #FFF;
    padding: .3rem .6rem;
    border-radius: .3rem;
}

/* MENU */
.menu_container {
    display: flex;
    justify-content: center;
}

.menu_content {
    width: 26rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #069c5348;
    padding: 0 0 1rem;
    text-align: center;
    margin: 0 1rem;
}

.menu_img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

/* ABOUT */
.about_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about_data {
    text-align: left;
}

.about_subtitle {
    display: block;
    color: #62746d;
    font-weight: 500;
    margin-bottom: .5rem;
}

.about_title {
    font-size: 2.25rem;
    color: #393939;
    margin-bottom: .5rem;
}

.about_description {
    margin-bottom: 1.5rem;
    color: #707070;
    font-size: 1rem;
}

.about_button {
    background-color: #00754a;
    color: #FFF;
    padding: .75rem;
    border-radius: .5rem;
}

.about_img {
    order: -1;
    width: 350px;
}

/* PERSONAL DATA */
.bio_container{
    background-color: #00754a;
    border-radius: 1rem;
    padding: 2rem;
}

.bio_content{
    display: flex;
    justify-content: center;
}

.bio_title {
    font-size: 2.25rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.bio_img{
    border-radius: 1rem;
    margin-right: 2rem;
}

.data_table, th, td{
    color: #fff;
    text-align: left;
}

/* FOOTER */
.footer {
    background-color: #00754a;
    width: 100%;
    padding: 2rem;
    margin-top: 3rem;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}

.footer_title{
    margin-bottom: .5rem;
}

.footer_title,
.footer_title a,
.footer_link,
.footer_copy {
    color: #fff;
}

.footer_link{
    padding: .2rem;
}

.social_media{
    display: flex;
    justify-content: start;
}

.social_media span{
    margin-left: .5rem;
}

.footer_copy {
    margin: 3rem 0 0;
    text-align: center;
}

@media screen and (max-width:924px) {
    .home_container {
        flex-direction: column;
        padding: 0 2.5rem;
    }

    .home_data {
        margin-bottom: 2.5rem;
    }

    .popular_container {
        flex-direction: column;
        padding: 0;
    }

    .popular_content {
        width: 80%;
        margin: 0 auto 1.5rem;
    }

    .menu_container{
        flex-direction: column;
    }

    .menu_content {
        width: 80%;
        margin: 0 auto 1.5rem;
    }

    .menu_img {
        width: 100%;
    }
    
    .about_container{
        flex-direction: column;
    }

    .about_img{
        order: 1;
        margin-top: 2.5rem;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .footer_content{
        margin: .3rem;
    }
}

@media screen and (max-width:768px) {
    .nav_list {
        position: fixed;
        top: -100%;
        left: 0rem;
        flex-direction: column;
        background-color: #FBFEFD;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 7px 15px #069c5348;
    }

    .nav_list.active {
        top: 4rem;
    }

    .nav_item {
        margin: 2.5rem 0;
    }

    .nav_toggle {
        display: block;
        cursor: pointer;
    }

    .nav_toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav_toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav_toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width:620px){
    .bio_content{
        flex-direction: column;
        align-items: center;
    }

    .bio_img{
        width: fit-content;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:550px){
    .home_title{
        font-size: 3rem;
    }

    .home_subtitle{
        font-size: 1.5rem;
    }

    .about_title{
        font-size: 1.5rem;
    }

    .about_description{
        font-size: 0.75rem;
    }

    .bio_img{
        margin: 0 0 1rem;
    }
}